@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e293b;
}

body {
  margin: 0;
  background-color: #111827;
  color: #f3f4f6;
}

/* Map the Google fonts for the UI components */
.font-bebas {
  font-family: 'Bebas Neue', sans-serif;
}

.font-lora {
  font-family: 'Lora', serif;
}
